/*Eric Meyer's Reset CSS v2.0*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}/*HTML5 display-role reset for older browsers*/article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}body{line-height:1;}ol,ul,li{list-style:none;}blockquote,q{quotes:none;}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}table{border-collapse:collapse;border-spacing:0;}
/*end of reset*/


/* tipografias */

h1, h2, h3, h4, #header ul:before   { font-family: 'fenix_stdregular';  }
body                                { font-family: 'open_sanslight';    }
h5, #contact ul li span:first-child { font-family: 'open_sanssemibold'; }


/* colores */


/* header y footer */
.selectlanguage,
        #header,
        #header ul { background-color: #292929; color: #eee; }
        #header h4 {                            color: #bbb; }
        #header a  {                            color: #ddd; }

/* home > rojos */
#header ul li:nth-child(1).current a,
#header ul li:nth-child(1) a:hover { color: #E3AE27; }

         #intro { background-color: #DB810D; color: #fef4e7; }
       #intro a {                            color: #fef4e7; }
  #colaboration { background-color: #E3AE27; color: #784707; }
#colaboration a {                            color: #784707; }


/* services > azules */
#header ul li:nth-child(2).current a,
#header ul li:nth-child(2) a:hover { color: #A1A4D4; }

          #cost { background-color: #4A4B87; color: #dedeed; }
        #cost a {                            color: #dedeed; }
   #methodology { background-color: #A1A4D4; color: #363763; }
 #methodology a {                            color: #363763; }


/* team > verdes */
#header ul li:nth-child(3).current a,
#header ul li:nth-child(3) a:hover { color: #98AE6B; }

    #experience { background-color: #38663A; color: #deeddf; }
  #experience a {                            color: #deeddf; }
   #improvement { background-color: #98AE6B; color: #384224; }
 #improvement a {                            color: #384224; }


/* contact > grises */
#header ul li:nth-child(4).current a,
#header ul li:nth-child(4) a:hover { color: #fff; }

       #contact { background-color: #666666; color: #D6D6D6; }
     #contact a {                            color: #D6D6D6; }


/* aspecto de los botones */
.button { border: 2px solid #D6D6D6; }
.button:hover, .button:active { background-color: #D6D6D6; }
          .button:hover a,
         .button:active a,
 #contact .button:hover a,
#contact .button:active a,
  #footer .button:hover a,
 #footer .button:active a { color: #666666; }
.button, .button * {
	transition-property: color, background-color;
	transition-timing-function: ease-in-out;
	transition-duration: .2s;
	}















/* generales */

html,body {
	width:100%;
	height:100%;
	font-size: 100%;
	}

body * { box-sizing: border-box; }

a { text-decoration: none; }

/* boton menu para móbil */

#openmenu {
	font-size: .8em; /*para ajustar el tamaño general del botón*/
	z-index: 20;
	position: fixed;
	top: 1em;
	right: 1em;
	width: 3em;
	height: 2.3em;
	cursor: pointer;
	transition: all 0.3s;
	}
#openmenu div,
#openmenu:before,
#openmenu:after {
	height: .5em;
	background: white;
	transition: all 0.3s;
	backface-visibility: hidden;
	}
#openmenu div {
	width: 100%;
	margin: .4em auto;
	}
#openmenu:before,
#openmenu:after {
	content: "";
	display: block;
	}

#openmenu.close {
	right: .5em;
	}
#openmenu.close:after {
	transform: rotate(-45deg) translate(.7em, -.8em);
	}
#openmenu.close:before {
	transform: rotate(45deg) translate(.5em, .5em);
	}
#openmenu.close div {
	opacity: 0;
	}








/* header */

#header {
	z-index: 10;
	width: 100%;
	padding: 2em 1em;
	overflow: hidden;
	}

#header h1 {
	display:inline-block;
	font-size: 4em;
	width: 4em;
	margin-bottom: .5em;
	}

#header h4 {
	display: block;
	font-size: 1.2em;
	}


#menu {
	position: fixed;
	top: 0;
	width: 100%;
	height: 200%;
	padding: 2em;
	overflow: hidden;
	
	left: 100%;
	opacity: 0;

	transition-property: left, opacity;
	transition-timing-function: cubic-bezier(.65,.08,.88,.66);
	transition-duration: .6s;
	}
#menu:before {
	font-size: 3em;
	}
html[lang|=en] #menu:before { content: 'Menu'; }
html[lang|=es] #menu:before,
html[lang|=ca] #menu:before { content: 'Menú'; }

#menu li {
	opacity: 0;
	margin-top: 1.5em;
	margin-bottom: 1.5em;

	margin-left: 5em;
	transition: all cubic-bezier(.65,.08,.88,.66) .6s;
	}
#menu li a {
	display: block;
	width: 6em;
	font-size: 2em;
	text-decoration: none;
	transition: color ease-in-out .5s;
	}



/*#menu:after {
	}
html[lang|=en] #menu:after { content: 'choose another language'; }
html[lang|=es] #menu:after { content: 'selecciona otro idioma'; }
html[lang|=ca] #menu:after { content: 'selecciona un altre idioma'; }*/

/* menu abierto de móbil */
/*#language {
	display: block;
	position: fixed;
	top:0;
	right: 0;
	}*/


#menu.opened {
	left: 0;
	opacity: 1;
	transition-timing-function: cubic-bezier(.03,.92,.59,.97);
	}
#menu.opened li {
 	opacity: 1;
	margin-left: 0;

	transition-property: margin-left;
	transition-timing-function: cubic-bezier(.25,.01,.07,.9);
	}
#menu.opened li:nth-child(1) { transition-delay: .1s; transition-duration: .5s; }
#menu.opened li:nth-child(2) { transition-delay: .2s; transition-duration: .6s; }
#menu.opened li:nth-child(3) { transition-delay: .3s; transition-duration: .7s; }
#menu.opened li:nth-child(4) { transition-delay: .4s; transition-duration: .8s; }
#menu.opened li:nth-child(5) { transition-delay: .5s; transition-duration: .9s; }








/* main */

#main {
	width: 100%;
	overflow: hidden;
	}
#main > div {
	display: inline-block;
	width: 100%;
	padding-left: 1em;
	padding-right: 1em;
	}
#main > div:nth-child(1) {
	padding-top: 3em;
	padding-bottom: 3em;
	}
/* excepción en página de contacto*/
#main > div:nth-child(1)#contact {
	padding-bottom: 1em;
	}
#main > div:nth-child(2) {
	padding-top: 4.3em;
	padding-bottom: 1em;
	}


#main img {
	display: block;
	margin-top: 4em;
	margin-bottom: 6em;
	margin-left: auto;
	margin-right: auto;
	}
#main h2 {
	font-size: 3em;
	margin-bottom: 1em;
	}
#main h3 {
	font-size: 2em;
	margin-top: 1em;
	margin-bottom: 1em;
	}
#main p {
	font-size: 1em;
	line-height: 1.3em;
	margin-bottom: 1.2em;
	}
#main ul {
	font-size: 1em;
	line-height: 1.3em;
	margin-bottom: 1.2em;
	}
#main > div > ul li {
	margin-bottom: .7em;
	}
#main > div > ul li:before {
	content: '-';
	margin-right: .3em;
	}
/*anular propiedades de las listas para contact*/
#main > #contact > ul li { margin-bottom: 0; }
#main > #contact > ul li:before { display: none; }



/*autor*/


#author {
	display: block;
	text-align: center;
	margin-top: 15em;
	font-size: .8em;
	}

#contact > #author {
	margin-top: 30em;
	}



/* footer */

/*#footer {
	padding-top: 2em;
	padding-right: 1em;
	padding-bottom: .5em;
	padding-left: 1em;
	text-align: center;
	}
#footer > ul > li {
	display: block;
	margin-bottom: 1em;	
	}
#footer > ul > li:last-child {
	display: inline-block;
	margin-top: 3em;
	margin-bottom: 0;
	}
#footer > ul > li > a {
	display: block;
	padding: 1em 2em;
	font-size: .8em;
	}*/







/* específico de home */

#intro > img {
	width: 100%;
	max-width: 30em;
	}

/* específico de home */

#intro > img:nth-child(1) { display: inherit; }
#intro > img:nth-child(2) { display: none; }

#colaboration > div {
	margin-bottom: 4em;
	}
#colaboration > div > div {
	margin-top: 4em;
	text-align: center;
	}
	
#colaboration > div > div > img {
	display: block;
	width: 60%;
	margin: 0 auto;
	}
#colaboration > div > div > h5 {
	display: block;
	font-size: 1.3em;
	margin-top: 2em;
	margin-bottom: 1.5em;
	}
#colaboration > div > div > p {
	text-align: left;
	}








/* específico de services */

#methodology > div > div {
	width: 100%;
	margin-top: 6em;
	text-align: center;
	}
#methodology > div > div > img {
	width: 100%;
	margin-bottom: 1em;
	}
#methodology h5 {
	font-size: 1.3em;
	margin-bottom: 1.5em;
	}
#methodology > div > div > p {
	text-align: left;
	}



/* específico de experiencia */

#main > #improvement > img {
	width: 90%;
	max-width: 30em;
	}




/* específico de contacto */


#contact > ul > li {
	word-wrap: break-word;
	overflow-wrap: break-word;
	}
#contact > ul > li > span {
	display: block;
	}

#contact > p > span.button {
	display: block;
	margin-top: 4em;
	}
#contact > p > span.button > a {
	display: block;
	width: 100%;
	text-align: center;
	padding: 1em 1.2em;
	}







/* específico de index y lenguaje*/


.selectlanguage #header {
	padding-top: 5em;
	}
.selectlanguage #header ul {
	margin-top: 2em;
	}
.selectlanguage #header ul li {
	margin-top: 1.5em;
	}










/*-------------------------------------------*/
/*-------------------------------------------*/

/* 3. Media queries desde 480px (tableta) */
@media all and (min-width: 480px) {

/*-------------------------------------------*/
/*-------------------------------------------*/


/* boton menu para móbil */

#openmenu {
	display: none;
	}






/* header */

#header {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	padding: 2em 2em 0 2em;
	text-align: center;
	transform-style: top font-size;
	transition: cubic-bezier(.25,.01,.07,.9) .6s
	}
#header.shrink {
	top: -11.2em;
	font-size: .8em;
	}

#header h1 {
	font-size: 3.5em;
	width: 6em;
	margin-bottom: .3em;
	}
#header h4 {
	font-size: 1em;
	margin-bottom: 1.3em;
	}

#menu {
	display: inline-block;
	left: auto;
	position: relative;

	opacity: 1;
	margin-bottom: 1em;
	padding: 0;
	}
#menu:before {
	display: none;
	}
#menu li {
	display: inline-block;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 0;

	transition: none;
	opacity: 1;
	}
#menu li a {
	display: inline-block;
	width: auto;
	font-size: 1em;
	padding: .4em 1em;
	}

/*lenguaje*/

#menu li:nth-child(5) a {
	position: fixed;
	top: .4em;
	right: 0;
	font-size: .8em;
	}










/* main */

#main > div {
	padding-left: 2em;
	padding-right: 2em;	
	}

#main > div:nth-child(1) {
	padding-top: 20em;
	}


#main p {
	font-size: 1.3em;
	}
#main ul {
	font-size: 1.3em;
	}




/* footer */

#footer {
	padding-bottom: 1em;
	}
#footer > ul > li {
	display: inline-block;
	margin-bottom: 0;
	}
#footer > ul > li:last-child {
	display: block;
	margin-top: 5em;
	}
#footer > ul > li:last-child > a {
	display: inline;
	}
















/* específico de home */


#main #colaboration > div {
	max-width: 52em;
	}
#colaboration > div > div {
	display: inline-block;
	width: 28%;
	vertical-align: top;
	}
#colaboration > div > div:nth-child(2),
#colaboration > div > div:nth-child(3) {
	margin-left: 4.5%
	}

#colaboration > div > div > img {
	width: 80%;
	}
#colaboration > div > div > p {
	font-size: 1.1em
	}





/* específico de services */

#main #methodology > div {
	max-width: 52em;
	}

#methodology > div > div {
	display: inline-block;
	width: 47%;
	vertical-align: top;
	}
#methodology > div > div:nth-child(even) {
	margin-left: 4.5%;
	}

#methodology > div > div > p {
	font-size: 1.1em;
	}






/* específico de contact */

#contact > ul > li > span {
	display: inline;
	}
#contact > p > span.button {
	display: inline-block;
	width: auto;
	}
#contact > p > span.button > a {
	display: inline-block;
	width: auto;
	}



/*-------------------------------------------*/
/*final media queries*/ }
/*-------------------------------------------*/





















/*-------------------------------------------*/
/*-------------------------------------------*/

/* 4. Media queries desde 720px (escritorio) */
@media all and (min-width: 720px) {

/*-------------------------------------------*/
/*-------------------------------------------*/

#header.shrink {
	top: -10em;
	font-size: inherit;
	}

#header h1 {
	width: auto;
	font-size: 4em;
	}
#header h4 {
	font-size: 1.5em;
	margin-bottom: 1em;
	}

#menu {
	margin: 0;
	width: auto;
	}
#menu li a {
	font-size: 1.3em;
	padding: 1em 1em;
	}

/* main */

#main > div:nth-child(1) {
	padding-top: 17em;
	padding-bottom: 3em;
	}
#main > div:nth-child(2) {
	padding-top: 4.3em;
	}

#main > div * {
	margin-left: auto;
	margin-right: auto;
	}
#main > div h2 { max-width: 17.3em; }
#main > div h3 { max-width: 25.9em; }

#main > div img,
#main > div p,
#main > div ul,
#main > div div {
	max-width: 40em;
	}





/* específico de home */

#intro > img:nth-child(1) { display: none; }
#intro > img:nth-child(2) { display: inherit; }




/*-------------------------------------------*/
/*final media queries*/ }
/*-------------------------------------------*/






















/*-------------------------------------------*/
/*-------------------------------------------*/

/* 4. Media queries desde 900px (escritorio grande) */
@media all and (min-width: 900px) {

/*-------------------------------------------*/
/*-------------------------------------------*/

#header.shrink {
	top: -12em;
	}

#header h1 {
	font-size: 5em;
	margin-bottom: .2em;
	}
#header h4 {
	font-size: 2em;
	margin-bottom: 1em;
	}
	
#menu li a {
	padding: 1em 2em;
	}


/* main */

#main > div:nth-child(1) {
	padding-top: 20em;
	}



/* específico de home */

#colaboration > div > div > p {
	font-size: 1.3em
	}


/* específico de services */

#methodology > div > div > p {
	font-size: 1.3em
	}




/*-------------------------------------------*/
/*final media queries*/ }
/*-------------------------------------------*/

